.burger-ingredients {
    margin-top: 72px;
    display: block;
}
.order-ingred {
    width: 700px;
    height: 600px;
    margin: auto;
    text-align: center;
    font-weight: 700;
    overflow-y: auto;
    font-size: 1.2rem;
}
.hello {
    color: rgb(227, 3, 3);
    font-size: 93px;
}
.burger-up {
    width: 80%;
    margin: auto;
    height: 130px;
    text-align: center;
    font-weight: 700;
    overflow-y: auto;
    font-size: 1.2rem;
}
.burger-down {
    height: 81px;
    width: 73%;
}
.burger-ingred {
    width: 100%;
    background-color: #cf8f2e;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 2px 1px #ccc;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}
.lettuce-txt {
    padding: 10px;
    font-weight: 700;
    width: 80px;
}
.ingred-btn {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;
}
.less-btn {
    background-color: #ac9980;
    color: #ccc;
    cursor: not-allowed;
}
.less-btn-enabled {
    background-color: #d39952;
    color: #fff;
    cursor: allowed;
}
.more-btn {
    background-color: #8f5e1e;
    color: #fff;
}
.ingred-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 0;
}
.order-btn {
    background-color: #dad735;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    -webkit-box-shadow: 2px 2px 2px #966909;
    box-shadow: 2px 2px 2px #966909;
}
.order-btn-disable {
    background-color: #c7c6c6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888;
}
.Lettuce {
    width: 85%;
    height: 7%;
    margin: 2% auto;
    background: -webkit-gradient(linear,left top,left bottom,from(#228c1d),to(#91ce50));
    background: -webkit-linear-gradient(#228c1d,#91ce50);
    background: -o-linear-gradient(#228c1d,#91ce50);
    background: linear-gradient(#228c1d,#91ce50);
    border-radius: 20px;
}
.Bacon{
    width: 80%;
    height: 3%;
    background: -webkit-gradient(linear,left top,left bottom,from(#bf3813),to(#c45e38));
    background: -webkit-linear-gradient(#bf3813,#c45e38);
    background: -o-linear-gradient(#bf3813,#c45e38);
    background: linear-gradient(#bf3813,#c45e38);
    margin: 2% auto;
}
.Cheese {
    width: 90%;
    height: 4.5%;
    margin: 2% auto;
    background: -webkit-gradient(linear,left top,left bottom,from(#f4d004),to(#d6bb22));
    background: -webkit-linear-gradient(#f4d004,#d6bb22);
    background: -o-linear-gradient(#f4d004,#d6bb22);
    background: linear-gradient(#f4d004,#d6bb22);
    border-radius: 20px;
}
.Meat {
    width: 80%;
    height: 8%;
    background: -webkit-gradient(linear,left top,left bottom,from(#7f3608),to(#702e05));
    background: -webkit-linear-gradient(#7f3608,#702e05);
    background: -o-linear-gradient(#7f3608,#702e05);
    background: linear-gradient(#7f3608,#702e05);
    margin: 2% auto;
    border-radius: 15px;
}